.board button{
    height: 100%;
    width: 100%;
    background:transparent;
    border: none;
    cursor: pointer;
    min-width: 50px;
    min-height: 50px;
    &:active , &:focus{
        outline:none;
    }
}
svg{
    max-width: 100%;
    circle{
    max-width: 100%;
    }
}
